<div class="woocommerce-tabs wc-tabs-wrapper col-span-2">
  <ul class="tabs wc-tabs" role="tablist" style="display: none;">
    {% for key, product_tab in product_tabs %}
      <li class="{{ key|e('html_attr')}}_tab" id="tab-title-{{ key|e('html_attr')}}" role="tab" aria-controls="tab-{{ key|e('html_attr')}}">
        <a href="#tab-{{ key|e('html_attr')}}">
          {{ product_tab.tab_title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% for key, product_tab in product_tabs %}
    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--{{ key|e('html_attr')}} panel entry-content wc-tab" id="tab-{{ key|e('html_attr')}}" role="tabpanel" aria-labelledby="tab-title-{{ key|e('html_attr')}}">
      {% if product_tab.callback %}
        {{  function( product_tab.callback, key, product_tab ) }}
      {% endif %}
    </div>
  {% endfor %}

  
</div>
