{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content w-full flex {{ se_active ? 'flex-col' : 'flex-col-reverse'}} md:flex-row">
				<div class="relative top-0 left-0 bottom-0 w-2/6 bg-cover h-screen bg-no-repeat bg-center" style="background-image: url({{ post.thumbnail.src('full') }});">
					<h1 class="article-h1 relative top-1/3 pl-4 uppercase text-white text-4xl transform md:-rotate-90 {{ se_active ? 'bg-indigo-900' : 'bg-red-900' }}">{{post.title}}</h1>
				</div>
				<div class="article-body flex-1 py-16 px-32">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}